.App {
  text-align: center;
}
.personal {
  width: 40px;
  height: 40px;
  background-color: purple;
  border-radius: 20px;
  margin: 5px 20px 0 20px;
}

.header {
  background-color: yellow;
}

.followers-column {
  background-color: red;
  width: 500px;
  height: 800px;
}

.feed {
  background-color: white;
  width: 500px;
}

.suggested-box {
  background-color: blue;
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: row;
}
